PORT=3000

MONCASH_CLIENT_ID=your_client_id
MONCASH_CLIENT_SECRET=your_client_secret

MONCASH_API_URL=https://sandbox.moncashbutton.digicelgroup.com/Api
MONCASH_GATEWAY_URL=https://sandbox.moncashbutton.digicelgroup.com/Moncash-middleware
